
.m-cell
    &::after
        position absolute
        box-sizing border-box
        content ' '
        pointer-events none
        right 0
        bottom 0
        left $padding-md
        border-width $border-width-base 0 !important
        border 0 solid $border-color
        transform scaleY(0.5)
