
.m-cell
    position relative
    display flex
    align-items center // 垂直居中
    box-sizing border-box
    width 100%
    padding $cell-vertical-padding $padding-md
    background-color $cell-background-color
    font-size $cell-font-size
    color $cell-text-color
    line-height $cell-line-height
    overflow hidden
    &_label, &_content
        flex 1
        box-sizing border-box
    &_label
        &_description
            margin-top $cell-descrip-margin-top
            color $cell-descrip-color
            font-size $cell-descrip-font-size
            line-height $cell-descrip-line-height
    &_content
        position relative
        overflow hidden
        text-align right
        color $cell-value-color
        vertical-align middle
        word-wrap break-word
        &--alone
            color $text-color
            text-align left
    &_lefticon, &_righticon
        flex none
        min-width 1em
        font-size $cell-icon-size
        overflow hidden
    &_lefticon
        margin-right 5px
        font-size: $font-size-lg
    &_righticon
        margin-left 5px
        font-size: $font-size-lg
    &--clickable
        cursor pointer
        background-color #fff
        &:focus
            // ??????????
            outline none
        &:active
            -webkit-tap-highlight-color rgba(255, 255, 255, 0)
            background-color $cell-active-color
    &::after
        position absolute
        box-sizing border-box
        content ' '
        pointer-events none
        right 0
        bottom 0
        left $padding-md
        border-width $border-width-base 0 !important
        border-bottom 0 solid $border-color
        transform scaleY(0.5)
    &:last-child::after, m-cell--borderless::after
        display none
