
.m-icon
    width 1em
    height 1em
    vertical-align -0.15em
    fill currentColor
    overflow hidden
    color: #707070 //默认的icon颜色
    &_image
        width: 1em;
        height: 1em;
        object-fit: contain;
