.m-tab
    &_pane
        &, &-wrapper
            flex-shrink 0
            box-sizing border-box
            width 100%
        &-wrapper--off
            height 0
            overflow visible // 在盒子其他地方显示