.m-hairline--surround::after
    border-width 1px !important
[class*='m-hairline']::after
    position absolute
    box-sizing border-box
    content ' '
    pointer-events none
    top -50%
    right -50%
    bottom -50%
    left -50%
    border 0 solid #ebedf0
    -webkit-transform scale(0.5)
    transform scale(0.5)
// 项目用到的动画类
.m-fade
    &-enter-active
        animation m-fade-in $animation-duration-base $animation-timing-function-enter both
    &-leave-active
        animation m-fade-out $animation-duration-base $animation-timing-function-leave both
.m-slide-up
    &-enter-active
        animation m-slide-up-enter $animation-duration-base $animation-timing-function-enter both
    &-leave-active
        animation m-slide-up-leave $animation-duration-base $animation-timing-function-leave both
.m-slide-down
    &-enter-active
        animation m-slide-down-enter $animation-duration-base $animation-timing-function-enter both
    &-leave-active
        animation m-slide-down-leave $animation-duration-base $animation-timing-function-leave both
.m-slide-left
    &-enter-active
        animation m-slide-left-enter $animation-duration-base $animation-timing-function-enter both
    &-leave-active
        animation m-slide-left-leave $animation-duration-base $animation-timing-function-leave both
.m-slide-right
    &-enter-active
        animation m-slide-right-enter $animation-duration-base $animation-timing-function-enter both
    &-leave-active
        animation m-slide-right-leave $animation-duration-base $animation-timing-function-leave both
