
$black = #000
$white = #fff
$gray-1 = #f7f8fa
$gray-2 = #f2f3f5
$gray-3 = #ebedf0
$gray-4 = #dcdee0
$gray-5 = #c8c9cc
$gray-6 = #969799
$gray-7 = #646566
$gray-8 = #323233
$red = #ee0a24
$blue = #1989fa
$orange = #ff976a
$orange-dark = #ed6a0c
$orange-light = #fffbe8
$green = #07c160
// Font
$font-size-xs = 10px
$font-size-sm = 12px
$font-size-md = 14px
$font-size-lg = 16px
$font-weight-bold = 500
// Border
$border-color = $gray-3
$border-width-base = 1px
$border-radius-sm = 2px
$border-radius-md = 4px
$border-radius-lg = 8px
$border-radius-max = 999px
// Padding
$padding-base = 4px
$padding-xs = $padding-base * 2
$padding-sm = $padding-base * 3
$padding-md = $padding-base * 4
$padding-lg = $padding-base * 6
$padding-xl = $padding-base * 8
// Component Colors
$text-color = $gray-8
$active-color = $gray-2
$active-opacity = 0.7
$disabled-opacity = 0.5
$background-color = $gray-1
$background-color-light = #fafafa
$text-link-color = #576b95
// Animation
$animation-duration-base = 0.3s
$animation-duration-fast = 0.2s
$animation-timing-function-enter = ease-out
$animation-timing-function-leave = ease-in
// CellGroup
$cell-group-background-color = $white
$cell-group-title-color = $gray-6
$cell-group-title-padding = $padding-md $padding-md $padding-xs
$cell-group-title-font-size = $font-size-md
$cell-group-title-line-height = 16px
// Cell
$cell-font-size = $font-size-md
$cell-line-height = 24px
$cell-vertical-padding = 10px
$cell-horizontal-padding = $padding-md
$cell-text-color = $text-color
$cell-background-color = $white
$cell-border-color = $border-color
$cell-active-color = $active-color
$cell-required-color = $red
$cell-descrip-color = $gray-6
$cell-descrip-font-size = $font-size-sm
$cell-descrip-line-height = 18px
$cell-descrip-margin-top = 3px
$cell-value-color = $gray-6
$cell-icon-size = 23px
$cell-right-icon-color = $gray-6
$cell-large-vertical-padding = $padding-sm
$cell-large-title-font-size = $font-size-lg
$cell-large-label-font-size = $font-size-md
// button
$button-mini-height = 22px
$button-mini-font-size = $font-size-xs
$button-mini-min-width = 50px
$button-small-height = 30px
$button-small-font-size = $font-size-sm
$button-small-min-width = 60px
$button-normal-font-size = $font-size-md
$button-large-height = 50px
$button-default-height = 44px
$button-default-line-height = 1.2
$button-default-font-size = $font-size-lg
$button-default-color = $text-color
$button-default-background-color = $white
$button-default-border-color = $border-color
$button-primary-color = $white
$button-primary-background-color = $green
$button-primary-border-color = $green
$button-info-color = $white
$button-info-background-color = $blue
$button-info-border-color = $blue
$button-danger-color = $white
$button-danger-background-color = $red
$button-danger-border-color = $red
$button-warning-color = $white
$button-warning-background-color = $orange
$button-warning-border-color = $orange
$button-border-width = $border-width-base
$button-border-radius = $border-radius-sm
$button-round-border-radius = $border-radius-max
$button-plain-background-color = $white
$button-disabled-opacity = $disabled-opacity
// Loading
$loading-text-color = $gray-6
$loading-text-font-size = $font-size-md
$loading-spinner-color = $gray-5
$loading-spinner-size = 30px
$loading-spinner-animation-duration = 0.8s
$loading-circle-animation-duration = 1s
// 给line-spin定义一些变量
// 不使用这里的配置使用组件内默认值
// $loading-line-spin-color =$gray-8
// $loading-line-spin-off-color = rgba($loading-line-spin-color, 0.2)
// $loading-line-spin-line-height = 24px
$loading-line-spin-duration = 750ms
// Image
$image-placeholder-text-color = $gray-6
$image-placeholder-font-size = $font-size-md
$image-placeholder-background-color = $background-color
$image-loading-icon-size = 22px
$image-error-icon-size = 22px
// Popup
$popup-background-color = $white
$popup-transition = transform $animation-duration-base
$popup-round-border-radius = 20px
$popup-close-icon-size = 22px
$popup-close-icon-color = $gray-5
$popup-close-icon-active-color = $gray-6
$popup-close-icon-margin = 6px
$popup-close-icon-padding = 16px
$popup-close-icon-z-index = 1
// mask
$mask-z-index = 1
$mask-background-color = rgba(0, 0, 0, 0.7)
// Dialog
$dialog-width = 320px
$dialog-small-screen-width = 90%
$dialog-font-size = $font-size-lg
$dialog-transition = $animation-duration-base
$dialog-border-radius = 16px
$dialog-background-color = $white
$dialog-header-font-weight = $font-weight-bold
$dialog-header-line-height = 24px
$dialog-header-padding-top = $padding-lg
$dialog-header-isolated-padding = $padding-lg 0
$dialog-content-padding = $padding-lg
$dialog-content-font-size = $font-size-md
$dialog-content-line-height = 20px
$dialog-content-max-height = 60vh
$dialog-has-title-content-text-color = $gray-7
$dialog-has-title-content-padding-top = $padding-sm
$dialog-confirm-button-text-color = $blue
// toast
$toast-max-width = 70%
$toast-font-size = $font-size-md
$toast-text-color = $white
$toast-loading-icon-color = $white
$toast-line-height = 20px
$toast-border-radius = $border-radius-lg
$toast-background-color = rgba($text-color, 88%)
$toast-icon-size = 40px
$toast-text-min-width = 96px
$toast-text-padding = $padding-xs $padding-sm
$toast-default-padding = $padding-md
$toast-default-width = 88px
$toast-default-min-height = 88px
$toast-position-top-distance = 50px
$toast-position-bottom-distance = 50px
// radio
$radio-size = 20px
$radio-border-color = $gray-5
$radio-transition-duration = $animation-duration-fast
$radio-label-margin = $padding-xs
$radio-label-color = $text-color
$radio-checked-icon-color = $green
$radio-disabled-icon-color = $gray-5
$radio-disabled-label-color = $gray-5
$radio-disabled-background-color = $border-color

// checkbox
$checkbox-size = 20px
$checkbox-border-color = $gray-5
$checkbox-transition-duration = $animation-duration-fast
$checkbox-label-margin = $padding-xs
$checkbox-label-color = $text-color
$checkbox-checked-icon-color = $green
$checkbox-disabled-icon-color = $gray-5
$checkbox-disabled-label-color = $gray-5
$checkbox-disabled-background-color = $border-color

//badge
$badge-line-height=1
$badge-content-icon-size=40px
$badge-content-border-radius=6px
$badge-content-icon-rounded=100%
$badge-text-font-size=12px
$badge-text-font-weight=500
$badge-font-family=Avenir-Heavy, PingFang SC, Helvetica Neue, Arial, sans-serif
$badge-content-text-color=$gray-7
$badge-badge-color=red
$badge-badge-line-height=14px
$badge-badge-width=16px
$badge-badge-border-radius=16px
$badge-badge-padding=0 3px
$badge-badge-dot-border-radius=4px
$badge-badge-dot-size=8px

// TabbarItem
$tabbar-item-font-size= $font-size-sm;
$tabbar-item-text-color= $gray-7;
$tabbar-item-active-color= $green;
$tabbar-item-line-height= 1;
$tabbar-item-icon-size= 18px;
$tabbar-item-margin-bottom= 5px;