
.m-radio
    display flex
    align-items center
    overflow hidden
    cursor pointer
    user-select none
    &--diasbled
        cursor not-allowed
    &--label-disabled
        cursor default
    &--horizontal
        margin-right $padding-sm
    &_icon
        flex none
        font-size $radio-size
        height 1em
        line-height 1em
        cursor pointer
        // 有&的是和父元素同修饰一个标签，无&是修饰父标签的某个子元素标签
        .m-icon
            display block
            box-sizing border-box
            width 1.25em
            height 1.25em
            color transparent
            font-size 0.8em
            line-height 1.25
            text-align center
            border 1px solid $radio-border-color
            transition-duration $radio-transition-duration
            transition-property color, border-color, background-color
        &--round
            .m-icon
                border-radius 100%
        &--checked
            .m-icon
                color white
                background-color $radio-checked-icon-color
                border-color $radio-checked-icon-color
        &--disabled
            cursor not-allowed
            .m-icon
                background-color $radio-disabled-background-color
                border-color $radio-disabled-icon-color
        &--disabled&--checked
            .m-icon
                color $radio-disabled-icon-color
    &_label
        margin-left $radio-label-margin
        color $radio-label-color
        line-height $radio-size
        &--left
            margin 0 $radio-label-margin 0 0
        &--disabled
            color $radio-disabled-label-color
