.m-dot-badge
    position absolute
    top 0
    right 0
    box-sizing border-box
    min-width $dot-badge-size
    padding $dot-badge-padding
    color $dot-badge-color
    font-weight $font-weight-bold
    font-size $dot-badge-font-size
    font-family $dot-badge-font-family
    line-height $dot-badge-size - $dot-badge-border-width * 2
    text-align center
    background-color $dot-badge-background-color
    border $dot-badge-border-width solid $white
    border-radius $dot-badge-size
    transform translate3d(50%, -50%, 0)
    transform-origin 100%
    &--dot
        width $dot-badge-dot-size
        min-width 0
        height $dot-badge-dot-size
        background-color $dot-badge-dot-color
        border-radius 100%
