
.m-loading
    position relative
    display inline-block
    // color $loading-line-spin-off-color // 底下的spinner颜色以此为准
    // font-size $loading-line-spin-line-height //底下元素以em为单位即以父元素的font-size为一个单位
    vertical-align middle
    &_spinner
        display inline-block
        vertical-align middle // 两个行内元素都设置的话，中线对其
        &--circle
            animation spin $loading-spinner-animation-duration infinite linear
        &--spinner
            animation spin $loading-circle-animation-duration infinite steps(12) // 使其进行8方位旋转
        &--line-spinner
            position relative
            width (1em / 4)
            height 1em
            margin 0 (1em / 2)
            // 二者不设置将会读取style内的color和font-size
            // color $loading-line-spin-off-color // 底下的spinner颜色以此为准
            // font-size $loading-line-spin-line-height //底下元素以em为单位即以父元素的font-size为一个单位
            background currentColor // 会根据color（字体颜色来设置）
            animation line-spin $loading-line-spin-duration infinite ($loading-line-spin-duration / 3) // 中间柱子延迟750/3毫秒
            &::before, &::after
                content ' '
                position absolute
                display block
                width (1em / 4)
                height (1em / 1.5)
                background currentColor // 会根据color（字体颜色来设置）
                top 50%
                transform translateY(-50%)
                animation line-spin $loading-line-spin-duration infinite
            &::before
                left -(1em / 2)
            &::after
                left (1em / 2)
                animation-delay ($loading-line-spin-duration / 1.5) // 最后柱子延迟750/1.5毫秒
    &_text
        display inline-block
        color $loading-text-color
        font-size $loading-text-font-size
        margin-left $padding-xs
        vertical-align middle // 垂直居中 中线对其
    &--vertical
        display flex
        flex-direction column
        align-items center
        justify-content center
        .m-loading_text
            margin $padding-xs 0 0

