
.m-loading
    position relative
    &_circle
        display block
        animation m-circular 5s infinite
        stroke currentColor
        stroke-width 3
        stroke-linecap round
@keyframes m-circular
    from
        left 0px
    to
        left 200px
