.m-badge
    position relative
    display inline-block
    line-height $badge-line-height
    font-size $badge-content-icon-size // icon大小
    &_content
        display flex
        justify-content center
        align-items center
        flex-direction column
        &--icon
            font-size inherit // icon大小
            border-radius $badge-content-border-radius
        &--icon-rounded
            border-radius $badge-content-icon-rounded
        &--text
            font-size $badge-text-font-size
            font-weight $badge-text-font-weight
            font-family $badge-font-family
            color $badge-content-text-color // #646566
    &_badge-wrapper
        position absolute
        flex 0 1
        left 0
        top 0
        width 100%
        height 100%
        &_badge
            box-sizing border-box
            background $badge-badge-color
            color $white
            font-size $badge-text-font-size
            font-weight $badge-text-font-weight
            font-family $badge-font-family
            line-height $badge-badge-line-height
            min-width $badge-badge-width
            pointer-events auto
            position absolute
            text-align center
            white-space nowrap
            border-radius $badge-badge-border-radius
            padding $badge-badge-padding
            &--bordered
                border 1px solid #fff
        &_dot
            position absolute
            box-sizing border-box
            background red
            height $badge-badge-dot-size
            min-width 0px
            width $badge-badge-dot-size
            border-radius $badge-badge-dot-border-radius
            padding 0px