.m-badge
    position relative
    display inline-block
    line-height 1
    &_content
        display flex
        justify-content center
        align-items center
    &_badge-wrapper
        position absolute
        flex 0 1
        left 0
        top 0
        width 100%
        height 100%
